body {
  background-color: pink; }

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg); } }

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg); } }

@-webkit-keyframes liquid {
  0% {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    -webkit-box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.2);
            box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.2); }
  25% {
    border-radius: 58% 42% 75% 25% / 76% 46% 54% 24%; }
  50% {
    border-radius: 50% 50% 33% 67% / 55% 27% 73% 45%;
    -webkit-box-shadow: -10px -5px 50px rgba(0, 0, 0, 0.2);
            box-shadow: -10px -5px 50px rgba(0, 0, 0, 0.2); }
  75% {
    border-radius: 33% 67% 58% 42% / 63% 68% 32% 37%; } }

@keyframes liquid {
  0% {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    -webkit-box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.2);
            box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.2); }
  25% {
    border-radius: 58% 42% 75% 25% / 76% 46% 54% 24%; }
  50% {
    border-radius: 50% 50% 33% 67% / 55% 27% 73% 45%;
    -webkit-box-shadow: -10px -5px 50px rgba(0, 0, 0, 0.2);
            box-shadow: -10px -5px 50px rgba(0, 0, 0, 0.2); }
  75% {
    border-radius: 33% 67% 58% 42% / 63% 68% 32% 37%; } }

html {
  font-size: 12px;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%; }

article,
aside,
figure,
footer,
header,
hgroup,
section {
  display: block; }

body,
button,
input,
optgroup,
select,
textarea {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; }

body {
  color: #000;
  font-size: 16px;
  font-weight: 200;
  line-height: 120%; }

a {
  color: #ffb45f;
  cursor: pointer;
  text-decoration: none; }
  a strong {
    color: currentColor; }
  a:hover {
    color: #999; }

hr {
  background-color: #999;
  border: none;
  display: block;
  height: 1.5px;
  margin: 1rem; }

img {
  height: auto;
  max-width: 100%; }

input[type="checkbox"],
input[type="radio"] {
  vertical-align: baseline; }

strong {
  color: #000;
  font-weight: bold; }

table td,
th {
  color: #000;
  vertical-align: top; }
  table td:not([align]),
  th:not([align]) {
    text-align: inherit; }

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 200; }

ul {
  list-style: none; }

button,
input,
select,
textarea {
  margin: 0; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

img,
video {
  height: auto;
  max-width: 100%; }

iframe {
  border: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }
  td:not([align]),
  th:not([align]) {
    text-align: inherit; }

.breadcrumb {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  white-space: nowrap; }
  .breadcrumb a {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    color: #ddd;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 12px 16px; }
    .breadcrumb a:hover {
      color: #000; }
  .breadcrumb li {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .breadcrumb li .is-active a {
      cursor: default;
      pointer-events: none;
      color: #000; }
  .breadcrumb ul,
  .breadcrumb ol {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .breadcrumb ul.is-centered ol,
  .breadcrumb ul.is-centered ul {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .breadcrumb ul.is-right ol,
  .breadcrumb ul.is-right ul {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end; }

.card {
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: black 0px 8px 46px 6px;
          box-shadow: black 0px 8px 46px 6px;
  color: #4a4a4a;
  max-width: 100%;
  position: relative; }
  .card-header {
    background-color: transparent;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-shadow: 0 0.125em 0.25em #0a0a0a;
            box-shadow: 0 0.125em 0.25em #0a0a0a;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .card-header:first-child {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px; }
    .card-header:last-child {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px; }
    .card-header-title {
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      color: #363636;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      font-weight: bold;
      padding: 12px 16px; }
      .card-header-title.is-center {
        justify-self: center; }
    .card-header-icon {
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      cursor: pointer;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      padding: 12px 16px;
      border: none;
      background: 0 0;
      font-size: 16px;
      align-items: center;
      cursor: pointer;
      display: flex;
      justify-content: center;
      -webkit-appearance: none;
         -moz-appearance: none;
              appearance: none; }
  .card-image {
    display: block;
    position: relative; }
    .card-image:first-child img {
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px; }
    .card-image:last-child img {
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px; }
  .card-content {
    background: transparent;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-shadow: 0 0.125em 0.25em #0a0a0a;
            box-shadow: 0 0.125em 0.25em #0a0a0a;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background-color: transparent;
    padding: 24px; }
  .card-footer {
    background: transparent;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-shadow: 0 0.125em 0.25em #0a0a0a;
            box-shadow: 0 0.125em 0.25em #0a0a0a;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background-color: transparent;
    border-top: 1px solid #ededed; }
    .card-footer-item {
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-basis: 0;
          -ms-flex-preferred-size: 0;
              flex-basis: 0;
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      -webkit-flex-shrink: 0;
          -ms-flex-negative: 0;
              flex-shrink: 0;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      padding: 20px; }
  .card-media:not(:last-child) {
    margin-bottom: 24px; }

.field {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .field img {
    display: inline-block;
    vertical-align: top; }
  .field.is-mobile {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .field.is-mobile .field-left,
    .field.is-mobile .field-right {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      margin-top: 0; }
    .field.is-mobile .field-item:not(:last-child) {
      margin-bottom: 0; }
    .field.is-mobile .field-item:not(.is-narrow) {
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
          -ms-flex-positive: 1;
              flex-grow: 1; }
  @media (min-width: 768px) and (max-width: 1025px) {
    .field {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
      .field > .field-item:not(.is-narrow) {
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
            -ms-flex-positive: 1;
                flex-grow: 1; } }
  .field-item {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-basis: auto;
        -ms-flex-preferred-size: auto;
            flex-basis: auto;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .field-item .title,
    .field-item .subtitle {
      margin: 0; }
    @media (max-width: 320px) {
      .field-item:not(:last-child) {
        margin-bottom: 12px; } }
  .field-left, .field-right {
    -webkit-flex-basis: auto;
        -ms-flex-preferred-size: auto;
            flex-basis: auto;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0; }
    .field-left .field-item.is-flexible, .field-right .field-item.is-flexible {
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
          -ms-flex-positive: 1;
              flex-grow: 1; }
    @media (min-width: 768px) and (max-width: 1025px) {
      .field-left .field-item:not(:last-child), .field-right .field-item:not(:last-child) {
        margin: 10px; } }
  .field-left {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    @media (max-width: 320px) {
      .field-left .field-right {
        margin-top: 24px; } }
    @media (min-width: 768px) and (max-width: 1025px) {
      .field-left {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex; } }
  .field-right {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    @media (min-width: 768px) and (max-width: 1025px) {
      .field-right {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex; } }

.media {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-align: inherit; }
  .media .content:not(:last-child) {
    margin-bottom: 12px; }
  .media .media {
    border-top: 1px solid rgba(219, 219, 219, 0.5);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 12px; }
    .media .media .content:not(:last-child),
    .media .media .control:not(:last-child) {
      margin-bottom: 8px; }
    .media .media .media {
      padding-top: 8px; }
  .media .media {
    margin-top: 16px;
    padding-top: 16px; }
  .media.is-large .media {
    margin-top: 24px;
    padding-top: 24px; }
  .media-left, .media-right {
    -webkit-flex-basis: auto;
        -ms-flex-preferred-size: auto;
            flex-basis: auto;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0; }
  .media-content {
    -webkit-flex-basis: auto;
        -ms-flex-preferred-size: auto;
            flex-basis: auto;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-flex-shrink: 1;
        -ms-flex-negative: 1;
            flex-shrink: 1;
    text-align: inherit; }
  @media (max-width: 320px) {
    .media .media-content {
      overflow-x: auto; } }

.menu {
  font-size: 16px; }
  .menu-list {
    line-height: 120%; }
    .menu-list a {
      border-radius: 2px;
      color: #4a4a4a;
      display: block;
      padding: 8px 12px; }
      .menu-list a:hover {
        background-color: #f5f5f5;
        color: #363636; }
      .menu-list a.is-active {
        background-color: #ffb45f;
        color: #fff; }
    .menu-list li ul {
      border-left: 1px solid #dbdbdb;
      margin: 12px;
      padding-left: 12px; }
  .menu-label {
    color: #7a7a7a;
    font-size: 12px;
    letter-spacing: 0.1 0.6px;
    text-transform: uppercase; }
    .menu-label:not(:first-child) {
      margin-top: 16px; }
    .menu-label:not(:last-child) {
      margin-top: 16px; }

.message {
  background-color: #f5f5f5;
  border-radius: 6px;
  font-size: 16px;
  --color: nth(messageColor: , 1);
  --color-invert: nth(messageColor: , 2);
  --color-light: null;
  --color-dark: null;
  --color-lightning: max((100% - lightness(var(--color))) - 2%, 0%);
  --color-light: lighten(var(--color), var(--color-lightning)); }
  .message strong {
    color: currentColor; }
  .message a:not(.button):not(.tag):not(.drop-list) {
    color: currentColor;
    text-decoration: underline; }
  .message.is-small {
    font-size: 12px; }
  .message.is-medium {
    font-size: 20px; }
  .message.is-larg {
    font-size: 24px; }
  .message-header {
    -webkit-align-content: center;
        -ms-flex-line-pack: center;
            align-content: center;
    background-color: #4a4a4a;
    border-radius: 0.375em 0.375em 0 0;
    color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-weight: 700;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    line-height: 1.25;
    position: relative;
    padding: 12px 16px; }
    .message-header .delete {
      -webkit-box-flex: 0;
      -webkit-flex-grow: 0;
          -ms-flex-positive: 0;
              flex-grow: 0;
      -webkit-flex-shrink: 0;
          -ms-flex-negative: 0;
              flex-shrink: 0;
      margin-left: 12px;
      font-size: 0;
      height: 20px;
      max-height: 20px;
      max-width: 20px;
      min-height: 20px;
      min-width: 20px;
      outline: 0;
      position: relative;
      vertical-align: top;
      width: 20px;
      background-color: rgba(10, 10, 10, 0.2);
      border: none;
      border-radius: 9999px;
      cursor: pointer;
      pointer-events: auto;
      display: inline-block;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none; }
  .message-body {
    border-width: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-color: #999;
    border-radius: 6px;
    border-style: solid;
    color: #222121;
    padding: 20px 24px; }

.pop {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  position: fixed;
  z-index: 40; }
  .pop.is-active {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .pop-background {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    background-color: rgba(10, 10, 10, 0.86); }
  .pop-content, .pop-card {
    margin: 0 20px;
    max-height: calc(800px - 160px);
    width: 100%;
    overflow: auto;
    position: relative; }
    @media (min-width: 768px) {
      .pop-content .media-content, .pop-card .media-content {
        margin: 0 auto;
        max-height: calc(800px - 40px);
        width: 640px; } }
  .pop-close {
    background: 0 0;
    height: 40px;
    position: fixed;
    right: 20px;
    top: 20px;
    width: 40px; }
    .pop-close:active {
      background-color: rgba(10, 10, 10, 0.4); }
    .pop-close:hover {
      background-color: rgba(10, 10, 10, 0.3); }
    .pop-close.is-larg {
      height: 32px;
      max-height: 32px;
      max-width: 32px;
      min-height: 32px;
      min-width: 32px;
      width: 32px; }
  .pop-card {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    max-height: calc(800px - 40px);
    overflow: hidden; }
    @media (min-width: 1920px) {
      .pop-card .media-content {
        margin: 0 auto;
        max-height: calc(1920px - 40px);
        width: 640px; } }
    @media (min-width: 1441px) {
      .pop-card .media-content {
        margin: 0 auto;
        max-height: calc(800px - 40px);
        width: 640px; } }
    @media (min-width: 768px) {
      .pop-card .media-content {
        margin: 0 auto;
        max-height: calc(800px - 40px);
        width: 640px; } }
    .pop-card-header, .pop-card-footer {
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      background-color: #f5f5f5;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-shrink: 0;
          -ms-flex-negative: 0;
              flex-shrink: 0;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      padding: 20px;
      position: relative; }
    .pop-card-header {
      border-bottom: 1px solid #999;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px; }
    .pop-card-footer {
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      border-top: 1px solid #999; }
      .pop-card-footer .btn:not(:last-child) {
        margin-right: 8px; }
    .pop-card-title {
      color: #111111;
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      -webkit-flex-shrink: 0;
          -ms-flex-negative: 0;
              flex-shrink: 0;
      font-size: 24px;
      line-height: 1; }
    .pop-card-body {
      background-color: #fff;
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      -webkit-flex-shrink: 1;
          -ms-flex-negative: 1;
              flex-shrink: 1;
      overflow: auto;
      padding: 20px; }

.pagination {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 16px;
  margin: -4px; }
  .pagination-list {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center; }
    .pagination-list li {
      list-style: none; }
  .pagination-previous, .pagination-next {
    padding-left: 12px;
    padding-right: 12px;
    white-space: nowrap; }
  .pagination-previous, .pagination-next, .pagination-link {
    border-color: #dbdbdb;
    color: #363636;
    min-width: 40px; }
  .pagination-previous, .pagination-ellipsis, .pagination-link, .pagination-next {
    font-size: 16px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 4px;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center; }
  .pagination-previous {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-appearance: none;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    border: 1px solid transparent;
    border-radius: 6px;
    -webkit-box-shadow: none;
            box-shadow: none;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 16px;
    height: 40px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    line-height: 1.5;
    padding-bottom: calc(8px - 1px);
    padding-left: calc(12px - 1px);
    padding-right: calc(12px - 1px);
    padding-top: calc(8px - 1px);
    position: relative;
    vertical-align: top; }

@media (max-width: 768px) {
  .pagination {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 0;
    margin-top: 0; }
    .pagination-previous {
      -webkit-box-ordinal-group: 3;
      -webkit-order: 2;
          -ms-flex-order: 2;
              order: 2; }
    .pagination-next {
      -webkit-box-ordinal-group: 4;
      -webkit-order: 3;
          -ms-flex-order: 3;
              order: 3; }
    .pagination-list {
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      -webkit-flex-shrink: 1;
          -ms-flex-negative: 1;
              flex-shrink: 1;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
          -ms-flex-order: 1;
              order: 1; }
    .pagination-previous, .pagination-ellipsis, .pagination-link, .pagination-next {
      margin-bottom: 0;
      margin-top: 0; } }

.nav,
.nav-end,
.nav-menu,
.nav-start {
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.nav {
  background-color: #fff;
  min-height: 52px;
  position: relative;
  z-index: 30; }
  .nav-brand {
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    min-height: 52px; }
  .nav a, .nav-item {
    cursor: pointer; }
  .nav-item, .nav-link {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    color: #4a4a4a;
    display: block;
    line-height: 1.5;
    padding: 8px 12px;
    position: relative; }
    @media (max-width: 768px) {
      .nav-item.has-dropdown:hover, .nav-link.has-dropdown:hover {
        padding-right: 40px; } }
  .nav-item {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0; }
    .nav-item.has-dropdown {
      -webkit-box-align: stretch;
      -webkit-align-items: stretch;
          -ms-flex-align: stretch;
              align-items: stretch;
      padding: 0; }
    .nav-item img {
      min-height: 28px; }
  .nav button, .nav-burger {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background: 0 0;
    border: none;
    color: currentColor;
    font-family: inherit;
    font-size: 16px;
    margin: 0;
    padding: 0; }
  @media (max-width: 768px) {
    .nav-burger {
      display: none; } }
  @media (max-width: 768px) {
    .nav-menu, .nav-start, .nav-end {
      -webkit-box-align: stretch;
      -webkit-align-items: stretch;
          -ms-flex-align: stretch;
              align-items: stretch;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
    .nav-menu {
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      -webkit-flex-shrink: 0;
          -ms-flex-negative: 0;
              flex-shrink: 0; }
    .nav-start {
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      margin-right: auto; }
    .nav-end {
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      margin-left: auto; } }
  .nav .buttons {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
    .nav .buttons:last-child {
      margin-bottom: -8px; }
  @media (max-width: 768px) {
    .nav.is-transparent {
      background-color: transparent !important; }
    .nav-dropdown {
      background-color: #fff;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      border-top: 2px solid #dbdbdb;
      display: none;
      font-size: 14px;
      left: 0;
      min-width: 100%;
      position: absolute;
      top: 100%;
      z-index: 20; }
      .nav-dropdown.is-boxed {
        border-radius: 6px;
        border-top: none;
        display: block;
        opacity: 0;
        pointer-events: none;
        top: calc(100% + (-4px));
        -webkit-transform: translateY(-5px);
            -ms-transform: translateY(-5px);
                transform: translateY(-5px);
        -webkit-transition-duration: 86ms;
             -o-transition-duration: 86ms;
                transition-duration: 86ms;
        -webkit-transition-property: opacity, -webkit-transform;
        transition-property: opacity, -webkit-transform;
        -o-transition-property: opacity, transform;
        transition-property: opacity, transform;
        transition-property: opacity, transform, -webkit-transform; } }
  .nav-dropdown {
    font-size: 14px;
    padding-bottom: 8px;
    padding-top: 8px; }
    .nav-dropdown a,
    .nav-dropdown .nav-item {
      padding-right: 48px; }
