.table {
  background-color: #fff;
  color: #363636;
  thead,
  tfoot {
    background-color: transparent;
    th,
    td {
      border-width: 0 0 2px;
      color: #363636;
      border: 1px solid #dbdbdb;
      border-width: 0 0 1px;
      padding: 8px 10px;
      vertical-align: top;
    }
  }
  tr {
    &.is-selected {
      background-color: #00d1b2;
      color: #fff;
    }
  }
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
