
.dropdown {
  display: inline-flex;
  position: relative;
  vertical-align: top;
  &.is-active,
  &.is-hoverable {
    &:hover {
      .dropdown-menu {
        display: block;
      }
    }
  }
  &.is-right {
    .dropdown-menu {
      left: auto;
      right: 0;
    }
  }
  &.is-up {
    .dropdown-menu {
      bottom: 100%;
      padding-bottom: 4px;
      padding-top: inherit;
      top: auto;
    }
  }
  &-menu {
    display: none;
    min-width: 192px;
    padding-top: 4px;
    position: absolute;
    top: 100%;
    z-index: 20;
  }
  &-content {
    background-color: #fff;
    border-radius: 6px;
    padding-top: 8px;
    padding-bottom: 8px;
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 10%),
      0 0 0 1px rgba(10, 10, 10, 2%);
  }
  &-item {
    color: #000;
    background-color: #ddd;
    padding: 6px 16px;
    display: block;
    position: relative;
  }
  a,
  button {
    .dropdown-item {
      text-align: inherit;
      white-space: nowrap;
      width: 100%;
      &:hover {
        background-color: #f5f5f5;
        color: #0a0a0a;
      }
      &.is-active {
        background-color: #ffb45f;
        color: #fff;
      }
    }
  }
  &-divider {
    background-color: #ededed;
    border: none;
    display: block;
    height: 1px;
    margin: 0.8px 0;
  }
}
