@import "../helper/control";
.field {
  display: flex;
  align-items: center;
  justify-content: space-between;
  img {
    display: inline-block;
    vertical-align: top;
  }
  &.is-mobile {
    display: flex;
    .field-left,
    .field-right {
      display: flex;
      margin-top: 0;
    }
    .field-item {
      &:not(:last-child) {
        margin-bottom: 0;
      }
      &:not(.is-narrow) {
        flex-grow: 1;
      }
    }
  }
  //tablet brackpoint
  @include media(">=SIpad", "<=LIpad") {
    display: flex;
    & > .field-item {
      &:not(.is-narrow) {
        flex-grow: 1;
      }
    }
  }
  &-item {
    align-items: center;
    display: flex;
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: center;
    .title,
    .subtitle {
      margin: 0;
    }
    @include media("<=LMobile") {
      &:not(:last-child) {
        margin-bottom: 12px;
      }
    }
  }
  &-left,
  &-right {
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
    .field-item {
      &.is-flexible {
        flex-grow: 1;
      }
      @include media(">=SIpad", "<=LIpad") {
        &:not(:last-child) {
          margin: 10px;
        }
      }
    }
  }
  &-left {
    align-items: center;
    justify-content: center;
    @include media("<=LMobile") {
      .field-right {
        margin-top: 24px;
      }
    }
    @include media(">=SIpad", "<=LIpad") {
      display: flex;
    }
  }
  &-right {
    align-items: center;
    justify-content: flex-end;
    @include media(">=SIpad", "<=LIpad") {
      display: flex;
    }
  }
}
