@import "../helper/control";

.media {
  align-items: flex-start;
  display: flex;
  text-align: inherit;
  .content {
    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }
  .media {
    border-top: 1px solid rgba(219, 219, 219, 0.5);
    display: flex;
    padding-top: 12px;
    .content:not(:last-child),
    .control:not(:last-child) {
      margin-bottom: 8px;
    }
    .media {
      padding-top: 8px;
    }
  }
  .media {
    margin-top: 16px;
    padding-top: 16px;
  }
  &.is-large {
    .media {
      margin-top: 24px;
      padding-top: 24px;
    }
  }
  &-left,
  &-right {
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
  }
  &-content {
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
    text-align: inherit;
  }
  @include media("<=LMobile") {
    .media-content {
      overflow-x: auto;
    }
  }
}
